@import "../stylesheets/Base";
@import "../stylesheets/Color";
@import "../stylesheets/Shape";

.light-grey {
  color: $light-grey;
}

.text-blue {
  color: $blue;
}

.text-purple {
  color: $primary-color;
}

.text-green {
  color: $green;
}

.icon {
  width: 24px;
  height: 12px;
  margin: 10px;
}

