//Base Color
$primary-color: #7C60FF;
$background-color: #F5F6F7;
$shadow-color: #000000;

@mixin fontsize($fontsize) {
  font-size: $fontsize;
}

body {
  background-color: $background-color;
}

.fs-7 {
  @include fontsize(14px);
}

.fs-8 {
  @include fontsize(12px);
}

.title {
  @include fontsize(40px);
}

.drop-shadow {
  box-shadow: 0px 3px 6px $shadow-color;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}